html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  gap: 10px;
  height: 100vh;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  background-color: lightblue;
  place-content: center;
}

.box {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.box:nth-child(6) {
}
.box:last-child {
}
