@import "./reset.scss";

$bg: #dde1d3;
$blue: #00a0c8;
$red: #d03022;
$burntRed: #573533;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.poster {
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: 70px 1.2fr 70px 1fr 70px 1.2fr 70px;
  background-color: $bg;
  padding: 20px;
  box-sizing: border-box;
  .top__left,
  .top__right,
  .top__top,
  .center__bottom {
    background-color: $blue;
  }
  .center__top,
  .bottom__left,
  .bottom__right,
  .bottom__bottom {
    background-color: $red;
  }
  .center__left,
  .center__right {
    background-color: $burntRed;
  }
  .top__left,
  .top__right,
  .bottom__left,
  .bottom__right {
    grid-row: span 2;
  }
  .center__left,
  .center__right {
    grid-row: span 3;
  }
  h1 {
    font-size: 60px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
  }
  .bottom__top {
    justify-content: space-between;
  }
}
